<form action="/products" method="post">
  <h2>Add Product</h2>
  <span>Title:</span>
  <input type="text" name="title" />
  <br /><br />
  <span>Price:</span>
  <input type="number" name="price" />
  <br /><br />
  <span>Url:</span>
  <input type="text" name="img" />
  <br /><br />
  <input type="submit" value="Send" />
</form>