{{>buttonAddProduct}}

<div style="display: flex; padding: 1rem">
    {{#each products}}
        <div style="padding: 1rem;">
            <h1>Product N°: {{this.id}}</h1>
            <p>Title: {{this.title}}</p>
            <p>Price: {{this.price}}</p>
            <img src="{{this.img}}" width="200px">
    </div>
    {{/each}}
</div>